/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.3s;
    margin-bottom: 50px;
  }
  
  .login-form.submitting {
    transform: scale(0.95);
  }
  
  .login-form h2 {
    font-size: 2.0em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .login-button {
    background-color: #191919;
    color: #fffdfd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .login-container {
    background-image: url('../Images/lambo.jpg'); /* Specify the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Rest of your CSS styles */
    